
@import '../global.scss';


.left__spacing{
    margin:2rem;
}




.header{
    display: grid;
    background-image:
    linear-gradient( to right bottom , rgba(9, 15, 17, 0.8),
    rgba(9, 15, 107, 0.8)) ,  
    url('../../imgs/IMG_1080.JPG');
    background-size:cover;
    background-position: top;
    height: 80vh;
    
    &__h1{
    
        color:$-color-white;
        font-size:2rem;
        font-weight: $-h1-weight;
        letter-spacing: 0.5rem;
        word-spacing: 0.5rem;

        align-self: end;
    }
    
    &__paragraph{
        color:$-color-white;
        font-weight: 150;
        font-size:1.5rem;    
    }
}

