<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>


<body>
    <h1> My Work !</h1>

    <div class="container">

        <div class="project">
            <img src="./img/projects/project1.jpg" alt="">

            <a class="github" href=""> Github </a>


            <a class="codepen" href=""> codepen </a>


        </div>


        <div class="project">
            <img src="./img/projects/project2.jpg" alt="">

            <a class="github" href=""> Github </a>
            <a class="codepen" href=""> codepen </a>


        </div>


        <div class="project">
            <img src="./img/projects/project3.jpg" alt="">

            <a class="github" href=""> Github </a>
            <a class="codepen" href=""> codepen </a>

        </div>


        <div class="project">
            <img src="./img/projects/project4.jpg" alt="">

            <a class="github" href=""> Github </a>
            <a class="codepen" href=""> codepen </a>

        </div>

    </div>
</body>

</html>