
*{
    margin:0px;
    
}



body {
    margin:0px;

}


header{
    height: 400px;
    margin:0px;
}


section , p{
    line-height: 25px;
}



h1 , p{
    text-shadow: 0px 0px 1px #1ba0178f;
    text-align: center;
}


p{
    font-size:1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#header-text{
    display: grid;
    padding-top:80px;
    justify-content: center;
    grid-gap:15px;
     color:rgb(2, 91, 107);;   
}

section , h1{
margin:30px;
}

h2{

    margin:70px;
    display: block;
    text-align: center;
    font-size:100px;
    /* height: 0px; */
    color:rgb(96, 226, 96);
    
}

.grid  h1{
    color:rgb(2, 91, 107);

}

.grid{
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    box-shadow: 2px 2px 2px 2px rgba(241, 231, 213, 0.418);
    border-radius: 8px;
}



h1{
    color:rgb(2, 91, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 0px 0px rgb(2, 91, 107);


}

header button {
/* display: inline; */
font-size:24px;
color:rgb(2, 91, 107);
/* border: 3px solid green; */
/* background-color:rgb(2, 91, 107); */
box-shadow: 1px 2px 1px 2px rgba(2, 91, 107, 0.418);
border-radius: 5px;
background-color: transparent;
padding:10px;
}

#read-more{
    display: grid;
    justify-content: center;
}

section button{
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 8px;
    background-color:rgb(2, 91, 107);
    color:white;
}

section{
    padding-top:40px;
    /* background: linear-gradient(90deg, #00dbde, #6027fd); */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    grid-gap:40px;
}



#header-image{    
    position: absolute;
    background-size:cover;
    background-position: center;
    background-image: url("fantasy-3554709.jpg");
    padding-bottom:4px;
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
    color:white;
    top:0px;
    opacity: 0.5;
    z-index: -1;
    
}

span{
    font-size:20px;
}


.section2{
    display:grid;
    line-height: 28px;
    text-align: center;
    grid-template-columns: 250px 1fr 250px;
}

.para{
    margin:20px;
    grid-area: span 1/2;
    
}

.para p{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}

p{
    border-radius: 6px;
    transition-duration: 4s;

}

.section3{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}


.section3 h1{
    grid-area: span 1/2;
    
}

#sub-header{
    text-align: center;
    
}

#sub-paragraph{
    text-align:center;
   margin-left:70px;
   margin-right: 70px;
}

h3{
    font-size:165px;
    padding-top:20px; 
    color:rgb(96, 226, 96);
    
}

.section3  , p {
    text-align: center;
   
   
}

h4{
    font-size:22px;
    margin:15px;
    color:rgb(2, 91, 107);
    text-shadow: 1px 0px 0px rgb(2, 91, 107);

}

#discover-section{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin:24px;
    padding:20px;
}

footer{
    text-align:center;
    color:white;
    height: 10vh ;
    padding-top:39px;
     max-width: 100%;
     margin-top:35px;
     font-size:27px;
     background-color: rgb(2, 91, 107);; 
}



