@import './mixins.scss';


.section-services{
    background:blue;
    text-align: center;

    button{
        background:blue;

        &:hover{
            color:red;
        }
    }
    
    .paragraph{
        font-size:30px;
    }
}