*{
   background: rgb(83, 81, 81); 
}

*{
    background: rgb(177, 106, 106);
        font-family: sans-serif;
    text-transform: uppercase;
    list-style: none;
    font-family: 'Times New Roman';
    color:rgba(29, 85, 46, 0.76);
}